.Travelling_page{
    width:750px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding:0%;
    
    
}

.logo{

    width:100px;
}

.header_part{
    background-image: url("./images/background_img.jpg");
    width:750px;
    height:500px;
    background-position: center bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    
}

.navigation{
    padding: 30px;
    color: white;
    display: flex;
    align-items:Top;
    justify-content: space-between;
    margin-top:0%;
    padding-left:10%;
    padding-right: 10%;
    
    
    
    

}

.nav_links >ul{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: row;
    text-align:center;
    font-size: 11px;
}

.nav_links a {
    color: white;
    text-decoration: none;
}

.column{
    display:flex;
    flex-direction:column;
    align-items:end;
    gap: 10px;
    padding-right: 30px;
    
    
}

.circle{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white; 
}

.countries{

    display: flex;
    flex-direction:row;
    gap:10px;
}

.Berlin{
    background-image: url("./images/Berlin\,Germany.jpg");
    width: 248px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    color: white;
    padding: 10px;
    
}
.London{
    background-image: url("./images/London\,\ United\ Kingdom.jpg");
    width: 248px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    color: white;
    padding: 10px;
    
}
.Italy{
    background-image: url("./images/Venice\,\ Italy.jpg");
    width: 248px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    color: white;
    padding: 10px;
    
}
.Lisbon{
    background-image: url("./images/Lisbon.jpg");
    width:100px;
    height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 13px;
    color: white;
    padding: 10px;
}

.heading_second{
    text-align: end;

}

.country_second{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.container {
    position: relative;
    width: 200px;
    height:250px;
    padding: 10px;
    background-color:gainsboro;
    border-radius: 13px;
}

.background {
    /* position ; */
    top: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Half background */
    background-image: url("./images/portugal.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.text {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    left: 0;
    width: 100%;
    height: 50%; /* Half text */
    padding: 10px;
    color: #333; /* Text color */
}

